+<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Kontakt</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h2>Kontakt</h2>

<ul>
        <li><strong>Email:</strong> jan.kowalski@example.com</li>
        <li><strong>Telefon:</strong> 123-456-789</li>
</ul>

<form action="/kontakt" method="post">
    <label for="message">Wiadomość:</label><br>
    <textarea id="message" name="message" rows="4" cols="40"></textarea><br>
    <input type="submit" value="Wyślij">
</form>


</body>
</html>
